:root {
    --theme-color: rgb(223, 168, 28);
    --theme-secondary: rgb(220, 180, 80);
    --text-primary: #262626;
    --text-secondary: #393939;
    --text-orange: rgb(171, 129, 24);
    --text-light: white;
}

@font-face {
    font-family: "Handlee-Regular";
    src: url(../fonts/Handlee-Regular.ttf);
}

* {
    font-family: Handlee-Regular;
    font-size: 20px;
    color: var(--text-secondary);
}

body {
    margin: 1%;
    border: 4px var(--theme-color) solid;
    border-radius: 10px;
}

main {
    margin: 5%;
}

header {
    margin: 6% 0;
}

h1, h2, h3 {
    color: var(--text-primary);
}

h1 {
    font-size: 180%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 130%;
}

table {
    margin: 5% auto;
    padding-left: 6%;
    width: 100%;
}

tr:first-child {
    font-weight: bold;
}

td {
    padding: 2%;
}

button {
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    box-shadow: 10px 5px 5px var(--text-primary);
}

ul {
    margin-left: 2em;
}

li {
    list-style: square;
    margin: 4% 0;
}

li:last-of-type {
    margin-bottom: 0;
}

form {
    border: 2px solid var(--theme-color);
    border-radius: 10px;
    padding: 30px;
}

form > label {
    font-size: 180%;
    padding-bottom: 10%;
}

form > input {
    width: 100%;
    height: 50px;
    font-size: 150%;
}

form > input:first-of-type {
    
    margin: 10% 0 5% 0;
}

.full-width {
    width: 100%
}

.wrapper {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.btn-first {
    background-color: var(--theme-color);
    color: var(--text-light);
}

.btn-second {
    background-color: var(--text-light);
    color: var(--text-orange);
}

.btn-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 20%;
}

.game-output {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10%;
}

.output-item {
    margin: 5% 0;
}

.answer-item {
    list-style: none;
    line-height: 1.5;
    padding: 10px;
    margin: 5% 0;
    border: solid var(--text-primary) 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--text-primary);
}

.fas {
    color: rgb(99, 99, 99);
}

#main-header {
    color: var(--text-primary);
    font-weight: bolder;
    text-align: center;
    width: 100%;
    margin-top: 15%;
}

#rules-title {
    margin-bottom: 1em;
}

#game-controls {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    gap: 25px;
}

#scores {
    margin-top: 5%;
    width: 100%;
    border: 3px solid var(--theme-secondary);
    border-radius: 10px;
    padding-bottom: 5%;
    box-shadow: 5px 5px 5px #b6b6b6;
}

#scores-title {
    margin-left: 5%;
}

#game-info {
    width: 100%;
}

#game-sections {
    flex-wrap: wrap-reverse;
}

#questions {
    width: 100%;
    margin: 0 auto;
}

#question-name {
    margin: 10% 5% 7% 5%;
    line-height: 1.5;
}

#answer-list {
    margin: 0;
}

#game-over {
    display: block;
}

#game-over > header {
    font-size: 200%;
    margin: 10% 0 10% 0;
    text-align: center;
}

#game-over > p {
    color: var(--text-secondary);
    text-align: center;
}

#btn-finish {
    width: 100%;
    font-size: 180%;
}

#medal-style {
    display: block;
    font-size: 100%;
    margin: 10% auto;
    text-align: center;
    color: tomato;
}

/* #game-over, #game-home {
    display: none;
} */

@media screen and (min-width: 900px) {
    
    * {
        font-size: 24px;
    }

    html {
        overflow: auto;
    }

    body {
        
        min-height: 96%;
    }

    main {
        margin: 0;
    }

    header {
        margin: 5%;
    }

    h1 {
        font-size: 200%;
    }

    li {
        margin: 10% 0;
    }
    form {
        width: 60%;
        margin: 0 auto;
    }

    form > label {
        font-size: 150%;
        padding-bottom: 5%;
    }
    

    .wrapper {
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        margin: 3% 5%;
    }

    .game-output {
        width: 100%;
        margin: 55% 0 0 10%;
        flex-direction: column;
    }

    .output-item{
        margin: 10% 0;
    }
    .btn-wrapper {
        width: 150px;
        margin: 0 0 0 87%;
        text-align: left;
        position: relative;
        right: 5em;
        bottom: 175px;
    }

    #main-header {
        margin-top: 0;
    }

    #scores {
        margin: 0;
        width: 50%;
        padding: 0;
    }

    #scores-table {
        margin-left: 5%;
    }

    #rules {
        margin: 0;
        padding: 0;
        width: 40%;
    }

    #game-controls {
        margin-top: 5%;
        margin-bottom: 5%;
        gap: 5%;
    }

    #game-info {
        width: 20%;
        margin: 0;
    }

    #questions {
        width: 60%;
    }

    #question-name {
        margin: 0;
    }

    #game-over > header {
        margin: 5% 0 2% 0;
    }

    #medal-style {
        display: block;
        font-size: 50%;
        margin: 5% auto;
        text-align: center;
        color: tomato;
    }

}